<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LeisureWorldQatar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>16</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
				<key>dateExpires</key>
				<string>15/05/2025</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>4.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>9.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageInApps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>4.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageObjCUtils.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>3.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageRichNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>7.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>9.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageSecurity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MoEngageTriggerEvaluator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F7EAB2F24E23EECB3665E5CF946921874524855F</string>
						<key>dateExpires</key>
						<string>15/05/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>LP4AVJ58MH.com.leisure.Loyalty.NotificationService</string>
						<key>aps-environment</key>
						<string>development</string>
						<key>com.apple.developer.team-identifier</key>
						<string>LP4AVJ58MH</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.leisure.Loyalty.MoEngage</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>6c2f4b8c-7be8-4086-a541-d967bfc3b245</string>
						<key>dateExpires</key>
						<string>17/10/2025</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.leisure.Loyalty.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LP4AVJ58MH</string>
						<key>name</key>
						<string>LEISURE WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LP4AVJ58MH.com.leisure.Loyalty</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:www.angrybirdsworld.qa/product</string>
					<string>applinks:www.snowdunes.qa/product</string>
					<string>applinks:www.virtuocity.qa/product</string>
				</array>
				<key>com.apple.developer.networking.slicing.appcategory</key>
				<array/>
				<key>com.apple.developer.networking.slicing.trafficcategory</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>LP4AVJ58MH</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.leisure.Loyalty.MoEngage</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>LeisureWorldQatar.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>228fa5a8-fbf3-4f8c-9c2e-10e78e37388a</string>
				<key>dateExpires</key>
				<string>21/10/2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.leisure.Loyalty</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LP4AVJ58MH</string>
				<key>name</key>
				<string>LEISURE WLL</string>
			</dict>
			<key>versionNumber</key>
			<string>2.1.4</string>
		</dict>
	</array>
</dict>
</plist>
